@model InmobiliariaBiolatti_LopezPujato.Models.Pago

@{
    ViewData["Title"] = "Agregar Pago";
    var listaContratos = ViewBag.Contratos;
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="idcontrato" class="control-label">Contrato</label>
        <select asp-for="idcontrato" class="form-control" required>
            <option value="">Seleccione un contrato</option>
            @foreach (var contrato in listaContratos)
            {
                <option value="@contrato.idcontrato">@contrato.ToString()</option>
            }
        </select>
        <span asp-validation-for="idcontrato" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="importe" class="control-label">Importe</label>
        <input asp-for="importe" class="form-control" required />
        <span asp-validation-for="importe" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="fpago" class="control-label">Fecha de Pago</label>
        <input asp-for="fpago" class="form-control" type="date" required />
        <span asp-validation-for="fpago" class="text-danger"></span>
    </div>
    
    <div class="form-group text-center mt-2">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-primary">Volver</a>
    </div>
</form>
