@model InmobiliariaBiolatti_LopezPujato.Models.Pago
@{
    ViewData["Title"] = "Agregar Multa";
    var listaContratos = ViewBag.Contratos;
    var ListaPagos = ViewBag.ListaPagos;
}

<h1>@ViewData["Title"]</h1>

<form asp-action="AgregarMulta" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="idcontrato" class="control-label">Contrato</label>
        <select asp-for="idcontrato" class="form-control" required>
            <option value="">Seleccione un contrato</option>
            @foreach (var contrato in listaContratos)
            {
                <option value="@contrato.idcontrato">@contrato.ToString()</option>
            }
        </select>
        <span asp-validation-for="idcontrato" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="mesesRestantes" class="control-label">Meses Restantes en el Contrato</label>
        <input type="number" id="mesesRestantes" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="precioMulta" class="control-label">Precio de la Multa por Irse Antes</label>
        <input type="number" id="precioMulta" class="form-control" required />
    </div>


    <div class="form-group">
        <label asp-for="importe" class="control-label">Importe</label>
        <input asp-for="importe" class="form-control" required readonly/>
        <span asp-validation-for="importe" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="fpago" class="control-label">Fecha de Pago</label>
        <input asp-for="fpago" class="form-control  mb-3" required />
        <span asp-validation-for="fpago" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="GUARDAR" class="btn btn-primary" />
        <a asp-action="index" class="btn btn-primary">Volver</a>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('mesesRestantes').addEventListener('input', calcularTotal);
        document.getElementById('precioMulta').addEventListener('input', calcularTotal);
    });

    function calcularTotal() {
        var mesesRestantes = parseFloat(document.getElementById('mesesRestantes').value);
        var precioMulta = parseFloat(document.getElementById('precioMulta').value);
        var total = mesesRestantes * precioMulta;
        document.getElementById('importe').value = total.toFixed(2);
    }
</script>

