@model IEnumerable<Inmueble>
@{
    ViewData["Title"] = "Inmuebles";
}

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>

<p>En esta sección se listarán todos los Inmuebles.</p>
<div class="col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Direccion</th>
                <th>Ambientes</th>
                <th>Superficie</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Propietario</th>
            </tr>
        </thead>
    </table>
</div>

<a asp-action="agregar" class="btn btn-success">Crear nuevo</a>