@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <Style>
         body {
            background-image: url('/images/home.jpg'); /*imagen de fondo */
            background-size: cover; /* Cubre toda la imagen  */
            background-position: center; /* Centrar la imagen */
            background-repeat: no-repeat; /* Evitar la repetición de la imagen */
        }
    </Style>

</head>
<body style="margin: 0; padding: 0;">
    <div class="welcome-section" style="color: #000; padding: 50px; text-align: center; background-image: url('@Url.Content("~/images/home.jpg")'); background-size: 100% 100%; background-position: center; height: 100vh;">
        <div class="text-center">
        
        </div>
    </div>
</body>
</html>
