
@{
    ViewData["Title"] = "Inquilinos";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>


<p>En esta sección se listarán los Inquilinos.</p>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>DNI</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            
        </table>
    </div>
</div>

    
<a asp-action="Create" class="btn btn-success">Crear nuevo</a>
<i class="fa-solid fa-pen-to-square"></i> <a asp-action="Editar">Editar</a> |
<i class="fa-solid fa-trash"></i> <a asp-action="Eliminar">Eliminar</a>
