@model IEnumerable<Inquilino>
@{
    ViewData["Title"] = "Inquilinos";
}
<h1>@ViewData["Title"] </h1>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>
<br>
<p>AUDITORIA</p>
