@model InmobiliariaBiolatti_LopezPujato.Models.Contrato;

@{
	ViewData["Title"] = "Contratos";
	var ListaInmuebles = ViewBag.Inmuebles;
	var ListaInquilinos = ViewBag.Inquilinos;
	var ltaPropietarios = ViewBag.Propietarios;

}

<div class="col-md-4">
	<form asp-action="Create" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div>
				<label class="control-label">Inmuebles</label>
				<select class="form-control" name="idinmueble">

					@foreach (var item in ListaInmuebles)
					{

						<option value="@item.idinmueble">@item.ToString()</option>
					}
				</select>
				<span asp-validation-for="idinmueble" class="number"></span>
		</div>

		<div>
			<label class="control-label">Inquilino</label>
			<select class="form-control" name="idinquilino">

				@foreach (var item in ListaInquilinos)
				{
					<option value="@item.idinquilino">@item.ToString()</option>
				}
			</select>
			<span asp-validation-for="idinquilino" class="number"></span>
		</div>
		<div class="form-group">
			<label asp-for="importe" class="control-label"></label>
			<input asp-for="importe" class="form-control" />
			<span asp-validation-for="importe" class="number"></span>
		</div>
		<div class="form-group">
			<label asp-for="fdesde" class="control-label">Fecha Desde</label>
			<input asp-for="fdesde" class="form-control" />
			<span asp-validation-for="fdesde" class="date"></span>
		</div>
		<div class="form-group">
			<label asp-for="fhasta" class="control-label">Fecha Desde</label>
			<input asp-for="fhasta" class="form-control" />
			<span asp-validation-for="fhasta" class="date"></span>
		</div>
		<br>
		<div class="form-group">
			<input type="submit" value="GUARDAR" class="btn btn-primary" />
			<a asp-action="index" class="btn btn-primary">volver</a>



		</div>

	</form>

</div>